html {
  font-family: Helvetica, Arial, sans-serif;
  background: black;
  color: white;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: rgba(255,255,255,0.7)
}

.section-heading {
  /*position: sticky;
  top: 10vh;*/
  width: 100%;
  text-align: center;
  letter-spacing: 20px;
  font-size: 5vh;
}

#navbar {
  position: fixed;
  top: 5vh;
  padding-left: 2vw;
  z-index: 1000;
}
#intro {
  height: 50vh;
  width: 100%;
  position: fixed;
  top: 0;
  /* to allow slide change without crossfade use this:
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/code.jpg');
  background-size: cover;*/
}
#hero-text {
  font-weight: bold;
  font-size: 30pt;
}
#hero-text, #animation-btn {
  position: relative;
  margin-left: 20px;
  top: 20vh;
}
#arrow {
  width: 0;
}
#project-list li {
  display: inline;
}
#project-list .project {
  width: 100%;
}
.project-img {
  width: 90%;
  height: 30vh;
  object-fit: cover;
  filter: brightness(50%);
}
#project-list div h3 {
  margin-left: 20px;
  transform: translateY(-30vh);
}
#project-list div p {
  margin-left: 20px;
  transform: translateY(-20vh);
}
.section {
  padding-top: 10vh;
  background-color: black;
  position: relative;
  top: 50vh;
}
.center-text {
  width: 90%;
  margin: auto;
}

.special-link {
  box-shadow: inset 0 -0.2em 0 #005ba3;  display: inline-block;
  transition: 0.4s;
}
.special-link:hover {
  box-shadow: inset 0 -0.85em 0 #005ba3;
  color: inherit;
}
#footer {
  padding-bottom: 15vh;
}
@media screen and (min-width: 800px) {
  #progress-bar {
    height: 3px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
  }
  #intro {
    height: 100vh;
  }
  .section {
    top: 100vh;
  }
  p {
    font-size: 1em;
  }
  #site-heading {
    font-size: 20pt;
    font-weight: bold;
  }
  #hero-text {
    position: fixed;
    top: 30vh;
    right: 10%;
    font-size: 50pt;
    font-weight: bold;
  }
  #animation-btn {
    position: fixed;
    top: 50vh;
    right: 10%;
  }

  #arrow {
    width: 10vh;
    position: fixed;
    bottom: 10vh;
    right: 10vh;
    filter: invert(100%);
  }
  .intro-background-image-container {
    height: 100vh;
    width: 100%;
  }
  .intro-background-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    filter: brightness(50%);
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .intro-background-image.visible {
    opacity: 1;
  }
  #interest-list {
    padding: 0;
    margin: 0;
    font-size: 10vh;
    padding-top: 50%;
    padding-left: 50%;
    transform: translateY(-50%);
  }
  #interest-list a:hover {
    font-weight: bold;
    color: inherit;
  }

  #projects .section-heading {
    margin-bottom: 20vh;
  }
  #project-list {
    padding: 0;
    font-size: 25pt;
  }
  #project-list .project {
    display: inline-block;
    height: 50vh;
    perspective: 30px;
  }
  .project .inner {
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  }
  #project-list a:hover {
    color: inherit;
  }
  #project-list div:hover .project-img {
    filter: brightness(70%);
  }
  #project-list div h3 {
    transform: translateY(-40vh);
    font-size: 50pt;
  }
  #project-list div p {
    transform: translateY(-20vh);
  }
  #project-list div p, #project-list div h3 {
    text-align: center;
    margin: auto;
    width: 50%;
    z-index: 1;
  }
  .project-img {
    transition: 0.5s;
    width: 50%;
    height: 50vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    display: inline-block;
  }
  .center-text {
    width: 50%;
  }
  #about p {
    line-height: 1.5em;
  }

  #contact p {
    font-size: 50pt;
  }

  #footer {
    padding-left: 25%;
    padding-right: 25%;
  }
}
