---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
.project-img {
	margin: auto;
}

.project-img-caption {
	margin: 0;
	font-size: 3rem;
	transform-origin: top left;
	transform: translate(50%, -50%);
	font-weight: bold;

}